.searchbox-container {
    background-color: lightsalmon;
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;

    h2 {
        color: beige;
    }
}